<h1>1d20</h1>

<ul>
  <% @rolls.each do |a_roll| %>
    <% if a_roll == 1 %>
      <li>
        <p style="color: red"><%= a_roll %></p>
      </li>
    <% elsif a_roll == 20 %>
      <li>
        <p style="color: green"><%= a_roll %></p>
      </li>
    <% else %>
      <li>
        <%= a_roll %>
      </li>
    <% end %>
  <% end %>
</ul>

